<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <header>
        <nav>
            <img src="/assets/img/logo.png" alt="logo">
            <ul>
                <li><a href="/">Why Alivio</a></li>
                <li><a href="/solutions">Solutions</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="">Pricing</a></li>
            </ul>
            <div>
                <a href="">Sign in</a>
                <button>
                    <a href="">
                        Start trial
                    </a>
                </button>
            </div>
        </nav>
        <h1>Be aware,
            Manage well.</h1>
        <p>
            Everyone experiences stress in different ways.
            Let Alivio guide you, in a personalized journal experience, to overcome your stress.
        </p>
        <button>Find Your Way</button>
    </header>

    <main>
        <section>
            <div>
                <!-- <span>
                    How it works
                </span> -->
                <h2>Understand & Release
                    the stress in 3 steps
                </h2>
            </div>
            <div>
                <p>
                    Alivio offers as many journals it takes, tackling different areas such as anxiety, overwhelmedness,
                    sadness, or anger, and a variety of personal causes, to help you become aware of your emotions, and
                    guide you in how to manage stress.
                </p>
            </div>
        </section>
        <section>
            <div>
                <span>
                    01
                </span>
                <h3>
                    Personalize
                </h3>
                <p>
                    Answer a quick survey about how you express yourself, what causes you stress, and what area would
                    you like to work on. This way, we can fully personalize your journal!
                </p>
                <img src="" alt="">
            </div>

            <div>
                <span>
                    02
                </span>
                <h3>
                    Write & Understand
                </h3>
                <p>
                    Write, draw, reflect, understand. Alivio will guide you through the prompts and will help you manage
                    your stress!
                </p>
                <img src="" alt="">
            </div>
            <div>
                <span>
                    03
                </span>
                <h3>
                    Alivio!
                </h3>
                <p>
                    Now you are aware, and have a way to manage and overcome your own stress.
                    What are you waiting for? Alivio today!
                </p>
                <img src="" alt="">
            </div>
        </section>

    </main>

    <footer>
        <ul>
            <li><a href="">Alivio</a></li>
            <li><a href="">Why Alivio</a></li>
            <li><a href="">Solutions</a></li>
            <li><a href="">Community</a></li>
            <li><a href="">Pricing</a></li>
        </ul>
    </footer>




</body>

</html>