<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">

    <title>Soulutions</title>
</head>

<body>
    <header>
        <img src="../assets/img/logo.png" alt="logo">
        <nav>
            <ul>
                <li><a href="/">Why Alivio</a></li>
                <li><a href="/solutions">Solutions</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="">Pricing</a></li>
            </ul>
        </nav>
        <a href="">Sign in</a>
        <a href="">Start trial</a>
        <h1>Be aware,
            Manage well.</h1>
        <p>
            Everyone experiences stress in different ways.
            Let Alivio guide you, in a personalized journal experience, to overcome your stress.
        </p>
        <button>Find Your Way</button>
    </header>
    <main>
        <section>
            <h2>
                Let's hear about Kayla's success story
            </h2>
            <p>
                See how well Alivio works in a real customer’s life.
            </p>
            <button>Let's get started</button>
        </section>
        <figure>
            <img src="" alt="">
        </figure>
    </main>


    <footer>
        <ul>
            <li><a href="">Alivio</a></li>
            <li><a href="">Why Alivio</a></li>
            <li><a href="">Solutions</a></li>
            <li><a href="">Community</a></li>
            <li><a href="">Pricing</a></li>
        </ul>
    </footer>
</body>

</html>